@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .content a {
        @apply text-lime-700 hover:underline;
    }

    .content p {
        @apply mb-4;
    }

    .content ol {
		display: block;
		list-style-type: decimal;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
		padding-left: 40px;
	}
}
